* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(212, 179, 179, 1), rgba(212, 179, 179, 0));
}

.col1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 h1 {
    font-size: 65px;
}

.col2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2 img {
    width: 50%;
    height: 80%;
}